@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: #fff;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  font-family: "Livvic", sans-serif;
  background-color: #014e56;
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
}

.b {
  border: 1px solid red;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  min-width: 120px;
}

.header__navi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 43px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  width: 20px;
  height: 20px;
  background-color: #014e56;
  background-image: url("../img/menu.svg");
  border: none;
  background-repeat: no-repeat;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  color: #fff;
  display: none;
}

.contact_us {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  color: #fff;
  display: none;
  padding: 10px 32px;
  border-radius: 20px;
  border: 2px solid #fff;
}

@media screen and (min-width: 768px) {
  .header__menu {
    display: none;
  }
  .header__item {
    display: inline-block;
  }
  .contact_us {
    display: inline-block;
  }
}
@media screen and (min-width: 800px) {
  .header__logo {
    min-width: 160px;
  }
  .header__menu {
    display: none;
  }
  .header__item {
    display: inline-block;
  }
  .contact_us {
    display: inline-block;
  }
}
.hero {
  margin: 0;
}

.hero__block {
  max-width: 327px;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 18px;
}

.hero__talant {
  color: #f67e7e;
}

.hero__context {
  max-width: 327px;
}

.hero__text {
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 15px;
  line-height: 187%;
  text-align: center;
  margin-bottom: 100px;
}

.hero__img {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero__block {
    min-width: 457px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero__title {
    min-width: 327px;
    font-weight: 700;
    font-size: 64px;
    line-height: 87%;
    text-align: center;
    margin-bottom: 24px;
  }
  .hero__text {
    margin-bottom: 156px;
  }
  .hero__context {
    min-width: 457px;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}/*# sourceMappingURL=main.css.map */