@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-family: "Roboto", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1217px;
    margin-left: auto;
    margin-right: auto;
}

body {
    --font-family: "Roboto", sans-serif;
}

.b {
    border: 2px solid red;
}

// ------------------- HEADER -------------------
.header {
    padding-top: 80px;
    padding-top: 80px;
}

.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 49px;
}