@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import "tailwindcss";

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #525c60
}


:root {
  /* Fonts */
  --font-family: "Inter", sans-serif;
  --second-family: "Mulish", sans-serif;
  --third-family: 'Yellowtail',sans-serif;

  /* Colors */
  --primary-green-light: #7EB693;
  --primary-green-dark: #274C5B;
  --primary-gray: #D4D4D4;
  --primary-gray-light: #F9F8F8;
  --primary-gray-soft: #EFF6F1;
  --primary-text: #525C60;
}

@theme inline {
  /* Fonts */
  --font-font-1: var(--font-family);
  --font-second-family: var(--second-family);
  --font-third-family: var(--third-family);

  /* Colors */
  --color-primary-green-light: var(--primary-green-light);
  --color-primary-green-dark: var(--primary-green-dark);
  --color-primary-gray: var(--primary-gray);
  --color-primary-gray-light: var(--primary-gray-light);
  --color-primary-gray-soft: var(--primary-gray-soft);
  --color-primary-text: var(--primary-text);
}

.container {
  border: 1px solid black;
  max-width: 1635px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

image {
  width: auto;
  height: auto;
}