@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap');
@import "tailwindcss";

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}


.container {
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
}