@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

:root {
  --main_font: "Open Sans", sans-serif;
  --main_background: #fff
}

body {
  font-family: var(--main_font)
}

@theme {
  --color-main_font: var(--main_font);
  --color-main_background: var(--main_background)
}


* {
  padding: 0;
  margin: 0;
}


.container {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}