@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary-color: #299764;
    --color-second-background: #f5f5f5;
    --color-grey-color: #555555;
    --color-black-color: #000000;

    --breakpoint-mobile: 398px;
    --breakpoint-tablet: 834px;
    --breakpoint-pc: 1240px
}

.container {
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

img {
    /* max-width: 100%;
    height: auto; */
}

/* border mobile:border-green-500 tablet:border-yellow-500 pc:border-red-500 */