@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
    --primary: #299764;
    --main-background: #1c1c1c;
    --gradient: linear-gradient(90deg, #ea4335 19.83%, #fbbc05 65%, #34a853 82.29%, #4285f4 100%);
    --instagram: radial-gradient(230.93% 230.93% at 102.01% 2.03%, rgb(249, 237, 50) 0%, rgb(238, 42, 123) 36.000001430511475%, rgb(210, 42, 138) 43.99999976158142%, rgb(139, 42, 178) 60.00000238418579%, rgb(27, 42, 240) 82.99999833106995%, rgb(0, 42, 255) 87.99999952316284%);
}

@theme inline {
    --color-primary: var(--primary);
    --color-main-background: var(--main-background);
    --color-main-border: #333333;
    --background-gradient: var(--gradient);
}

body {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    background-color: var(--main-background);
}

.container {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}